<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="JokeMapper">


	<insert id="create" parameterType="kr.co.dadrip.domain.JokeDTO">
	    INSERT	INTO joke (joke_id, member_id, joke_question, joke_answer)
	    VALUES	(joke_seq.nextval, #{member_id}, #{joke_question}, #{joke_answer})
	    <selectKey keyProperty="joke_id" resultType="Integer" order="AFTER">
	        SELECT joke_seq.currval 
	        FROM   dual
	    </selectKey>
	</insert>

	<!-- <insert id="create">
		INSERT	INTO joke (joke_id, member_id, joke_question, joke_answer)
		VALUES	(joke_seq.nextval, #{member_id}, #{joke_question}, #{joke_answer})
	</insert> -->
	
	<select id="read" resultType="kr.co.dadrip.domain.JokeDTO">
		SELECT  joke_id, 
				member_id, 
				created_on, 
				modified_on, 
				joke_question, 
				joke_answer, 
				view_count
		FROM    joke
		WHERE   joke_id = #{joke_id}
	</select>
	
	<update id="update">
		UPDATE  joke
		SET     modified_on = sysdate, joke_question = #{joke_question}, joke_answer = #{joke_answer}
		WHERE   joke_id = #{joke_id}
	</update>
	
	<delete id="delete">
		DELETE
		FROM	joke
		WHERE	joke_id = #{joke_id}
	</delete>
	
	<select id="listAllJokesWithPaging" resultType="kr.co.dadrip.domain.JokeDTO">
	<!-- 부등호를 문자로 인식하도록 해주는 CDATA -->
		<![CDATA[	
			SELECT	joke_id, 
					member_id, 
					created_on, 
					modified_on, 
					joke_question, 
					joke_answer, 
					view_count
			FROM	(
						SELECT /*+ INDEX_DESC(joke IDX_joke_jokeId_PK) */
							rownum rn,
							joke_id, 
							member_id, 
							created_on, 
							modified_on, 
							joke_question, 
							joke_answer, 
							view_count
						FROM joke
						WHERE rownum <= #{pageNum} * #{amount}
					)
			WHERE	rn > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
</mapper>